@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #9296a8;
    position: relative;
    /* overflow-x: hidden; */
}

a,
a:link,
a:visited {
    outline: none;
    text-decoration: none;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
    color: #161616;
}

a:hover {
    color: #d51d26;
}

 :focus {
    outline: none;
}

img {
    border: none;
    margin: 0px;
    max-width: 100%;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 0px;
    line-height: 28px;
    padding: 0px;
    color: #2d2b3d;
}

h3,
h4,
h5,
h6 {
    font-size: 1.9em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #2d2b3d;
}

form,
input,
select,
textarea,
p {
    margin: 0px;
    padding: 0;
}

textarea {
    resize: none;
}

label {
    color: #585b5e;
    font-weight: 400;
    font-size: 15px;
}

input {
    height: 47px;
    font-size: 15px;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0px;
    padding: 0 20px;
    color: #bebebe;
    background-color: #fff;
    background-clip: padding-box;
    border: solid 1px #dbdbdb;
}

.btn {
    background-color: #d51d26;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    height: 50px;
    border-radius: 0px;
    color: #fff !important;
    text-transform: uppercase;
    display: inline-block;
    line-height: 16px;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
    padding: 18px 0px;
}

input:focus,
textarea:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
    display: block;
    margin: 0px;
    padding: 0;
}

.customClear {
    clear: both;
    font-size: 0em;
    line-height: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.modal_wrapper {
    width: 100%;
    position: absolute;
    padding-top: 50px;
    top: 0;
    left: 0;
    z-index: 1001;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
section,
div,
aside,
article,
p,
span,
strong,
nav,
li,
a,
em,
table,
tr,
td,
th,
figure,
figcaption,
label,
input,
button,
select,
textarea {
    font-family: 'Poppins';
}

* {
    box-sizing: border-box;
}


/*IE below 9*/

#ieWrapper {
    background: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
    position: relative;
    width: 555px;
    padding: 20px;
    margin: 200px auto 0 auto;
    background: #FFF;
    border: 7px solid #2b2927;
}

.btnIeUpdate {
    background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
    width: 144px;
    height: 37px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.ieLogo {
    float: left;
    width: 134px;
    height: 139px;
    background: url(../images/ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
    float: right;
    margin: 0;
    padding: 0;
    width: 350px;
    color: #666;
    font-size: 15px;
    line-height: 18px;
}

.ieContent strong {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #cccccc;
    display: block;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}


/*End IE below 9*/

.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-justify {
    justify-content: space-between;
    display: flex;
}

.three-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-center {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}


/* Home */

p {
    font-size: 16px;
    color: #161616;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 25px;
}

.responsive-menu-wrapper {
    display: none;
}

.hamburger {
    margin: auto;
    width: 36px;
    height: 17px;
    display: flex;
    cursor: pointer;
}

.hamburger span {
    display: block;
    position: relative;
    margin: auto;
    width: 31px;
    height: 2px;
    background-color: #d51d26;
}

.hamburger span::before,
.hamburger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #d51d26;
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}

.hamburger span::before {
    top: -7px;
}

.hamburger span:after {
    bottom: -8px;
}

.hamburger:hover span::before,
.hamburger:hover span::after {
    width: 31px;
}

.hamburger-menu-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: flex-end;
}

.hamburger-menu-wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #d51d26;
    opacity: 0.93;
    z-index: 1000;
}

.menu-wrapper {
    padding: 40px 20px 20px 20px;
    background-color: #2c2d31;
    margin-left: auto;
    z-index: 1500;
    position: relative;
}

.menu-close {
    position: absolute;
    top: 50px;
    right: 60px;
    font-size: 26px;
    color: #000;
}

.hamburger-nav>ul>li {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    padding: 12px 0px;
}

.hamburger-nav>ul>li>a {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
}

ff .hamburger-nav .cart-menu {
    background-image: none !important;
}

.hamburger-nav .cart-menu a {
    padding: 10px 15px;
}

.hamburger-nav>ul>li>span {
    cursor: pointer;
    position: relative;
}

.hamburger-nav>ul>li>span a {
    color: #fff;
}

.hamburger-nav ul>li>span::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-top: 7px solid #d51d26;
    border-right: 7px solid transparent;
    top: 10px;
    position: absolute;
    right: -21px;
}

.hamburger-nav>ul>li>a:hover {
    color: #d51d26;
}

.hamburger-nav li>ul {
    padding-top: 10px;
    display: none;
}

.hamburger-nav li>ul li {
    display: block;
    position: relative;
}

.hamburger-nav li>ul li:last-child {
    padding-bottom: 0;
}

.menu-wrapper a.menu-close {
    position: absolute;
    right: 25px;
    top: 30px;
    color: #d51d26;
}

.menu-wrapper .top-header li {
    color: #fff;
}

.menu-wrapper .top-header li a {
    color: #fff;
}

.menu-wrapper .top-header {
    background-color: transparent
}

.hamburger-nav li>ul li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    padding: 10px 0;
    display: block;
}

.hamburger-nav .logout {
    border-top: none;
    background-image: none;
}

.hamburger-nav .home-form {
    padding: 20px 0px;
}

.hamburger-nav .login-form-title p a {
    color: #d51d26;
    font-size: 14px;
    padding: 0;
    line-height: 14px;
}

.hamburger-nav .home-form h4 {
    font-size: 18px;
    color: #fff;
    padding: 0px 30px 0px 0;
}

.hamburger-nav label {
    color: #fff;
}

.top-header {
    background-color: #161616;
}

.top-header li {
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    color: #fff;
    white-space: nowrap;
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.top-header li a {
    color: #fff;
    display: flex;
    align-items: center;
}

.top-header li:nth-last-of-type(1) {
    font-size: 18px;
    font-weight: 500;
}

.top-header li img {
    margin-right: 12px;
}

.logo-nav-wrapper {
    padding: 18px 0 10px 0;
}

nav.page-nav {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 377px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 74px;
    z-index: 1;
    border-top: solid 3px #d51d26;
    right: -145px;
}

.page-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-nav li a {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: #161616;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 15px 22px;
}

.page-nav li a:hover {
    color: #d51d26;
}

.home-form {
    padding: 40px;
}

.login-form-title p {
    margin-bottom: 25px;
    line-height: 14px;
    font-weight: 300;
}

.login-form-title p a {
    color: #d51d26;
    font-size: 14px;
    padding: 0;
    line-height: 14px;
}

.form-group input {
    margin: 15px 0;
}

.home-form h4 {
    font-size: 19px;
    line-height: 19px;
    font-weight: 500;
    color: #27262c;
    padding: 0px 30px 0px 0;
}

.sign-in {
    position: relative;
    padding-left: 22px;
}

.sign-in:before {
    content: "";
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 21px;
    height: 40px;
    position: absolute;
    left: 0px;
}

.page-nav .cart-menu {
    padding-right: 49px !important;
    background-image: url(../images/delivery.png);
    background-repeat: no-repeat;
    background-position: right;
}

.page-header .cart-menu a {
    background-color: #d51d26;
    border-radius: 6px;
    color: #fff;
    padding: 9px 12px;
    position: relative;
}

.page-header .cart-menu a:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 7px solid #d51d26;
    border-bottom: 7px solid transparent;
    position: absolute;
    right: -7px;
}

.page-header .cart-menu a:hover {
    color: #fdc82f;
}

.home-banner-content img {
    visibility: hidden;
    position: relative;
}

.banner-content {
    position: relative;
    height: 100%;
    text-align: center;
}

.home-banner-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 645px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner-content h1 {
    font-size: 87px;
    line-height: 87px;
    color: #fff;
    font-weight: 800;
}

.home-banner-content h2 {
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    font-weight: 800;
}

.home-banner-content h2 span {
    font-size: 76px;
    color: #fdc82f;
    font-family: 'greatvibes-regular';
}

.header-banner {
    position: relative;
}

.header-banner:after {
    content: "";
    background-image: url(../images/clouds-banner.png);
    background-position: center;
    position: absolute;
    background-repeat: repeat-x;
    width: 100%;
    height: 190px;
    bottom: -1px;
}

.delivery-boy {
    position: relative;
}

.delivery-boy img {
    position: absolute;
    bottom: 20px;
    left: 68px;
}

.food-list-cart {
    margin-top: 65px;
    margin-bottom: 160px;
}

.food-menu {
    flex: 0 1 738px;
}

.checkout-left {
    flex: 0 1 690px;
    margin-bottom: 50px;
}

.food-menu ul {
    display: flex;
    margin-top: 20px;
    border-bottom: solid 1px #e6e6e8;
    margin-bottom: 40px;
}

.food-menu li {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 0;
}

.food-menu li:nth-last-of-type(1) {
    padding-right: 0;
}

.food-menu li a {
    color: #afacc1;
    padding: 10px 10px 24px 10px;
    text-align: center;
    border-bottom: solid 3px transparent;
}

.food-menu li:nth-of-type(1) a {
    padding-left: 0;
}

.food-menu li.active a,
.food-menu li a:hover {
    color: #474361;
    border-bottom: solid 3px #d51d26;
}

.toggle-food-current .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    margin-top: 6px;
}

.toggle-food-current h6 {
    font-size: 22px;
    font-weight: 600;
}

.toggle-food-current {
    margin-bottom: 30px;
}

.toggle-food-current .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-food-current .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d8d7e0;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-food-current .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-food-current input:checked+.slider {
    background-color: #d51d26;
}

.toggle-food-current input:focus+.slider {
    box-shadow: 0 0 1px #d51d26;
}

.toggle-food-current input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}


/* Rounded sliders */

.toggle-food-current .slider.round {
    border-radius: 34px;
}

.toggle-food-current .slider.round:before {
    border-radius: 50%;
}

.current-fooditem {
    max-width: 222px;
    margin-bottom: 65px;
}

.food-list-div {
    flex-wrap: wrap;
}

.item-name-type {
    margin-top: 20px;
}

.toggle-food-current p {
    color: #565272;
    margin-left: 20px;
    font-size: 17px;
    line-height: 36px;
    margin-bottom: 0;
}

.toggle-switch p {
    margin-right: 20px !important;
    margin-left: 0px !important;
}

.item-name-type h4 {
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    color: #1b2343;
}

.item-name-type span {
    height: 16px;
    width: 16px;
    position: relative;
    border: solid 1px #d81c1d;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.item-name-type span.veg-only {
    border: solid 1px #59bd4f;
}

.item-name-type span:after {
    content: "";
    height: 6px;
    width: 6px;
    line-height: 6px;
    position: absolute;
    background-color: #d81c1d;
    border-radius: 50%;
    display: block;
}

.item-name-type span.veg-only:after {
    background-color: #59bd4f;
}

.item-price-quantity {
    margin-top: 20px;
    align-items: center;
}

.item-price-quantity h5 {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #1b2343;
}

.quantity-add {
    width: 84px;
    font-size: 16px;
    color: #d51d26;
    font-weight: 700;
    border: solid 1px #d51d26;
    height: 31px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: -ms-flexbox;
    -ms-flex-pack: center;
}

.quantity-add input {
    text-align: center;
    font-weight: 700;
    color: #d51d26;
    width: 17px;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 16px;
    background-color: transparent;
}

.add-btn:hover {
    background-color: #d51d26;
    color: #fff;
}

.quantity-add span {
    cursor: pointer;
}

.my-cart {
    flex: 0 1 337px;
}

.checkout-my-cart {
    flex: 0 1 400px;
    padding: 0 40px;
    max-width: 400px;
    width: 100%;
}

.my-cart h5 {
    font-weight: 500;
    color: #afacc1;
    font-size: 18px;
    line-height: 18px;
    padding: 30px 0 25px 0;
    border-bottom: solid 1px #e6e6e8;
    text-transform: uppercase;
}

.my-cart h5 span {
    color: #454351;
}

.mycart-quantity .item-name-type {
    margin-top: 27px;
}

.mycart-quantity .item-name-type span {
    margin-right: 10px;
}

.item-add-quantity h4 {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #1b2343;
    padding: 8px 0 25px 0;
}

.item-add-quantity h4 strong {
    font-weight: 600;
    margin-left: 30px;
}

.my-cart .btn {
    margin-top: 10px;
}

.playstore-app {
    background-color: #d51d26;
    background-image: url(../images/bottom-clouds.png);
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: contain;
}

.playstore-app>.page-center {
    justify-content: flex-end;
}

.mob-view {
    position: relative;
    flex: 1;
}

.mob-view img {
    visibility: hidden;
}

.mob-view figure {
    position: absolute;
    bottom: 0px;
    height: 445px;
    width: 322px;
    background-image: url(../images/mob-view.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    right: 30px;
    bottom: 0;
    left: initial;
}

.playstore-download {
    flex: 0 1 600px;
    padding: 75px 75px 75px 0;
}

.playstore-download li {
    margin-right: 12px;
}

.playstore-download h3 {
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
    color: #fff;
    margin-bottom: 25px;
}

.playstore-download p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.page-footer {
    background-color: #161616;
}

.footer-wrapper {
    padding: 40px 0 25px 0;
}

.bottom-footer-li li {
    padding: 6px 0;
    text-align: right;
    justify-content: flex-end;
}

.bottom-footer-li li img {
    margin-left: 12px;
    margin-right: 0px;
}

.footer-bottom {
    border-top: solid 1px #353535;
}

.footer-bottom p {
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    padding: 25px 0;
    font-size: 13px;
}

.footer-bottom p span {
    color: #fdc82f;
}

.toggle-switch p {
    margin-left: 0px;
}

@media all and (-ms-high-contrast:none) {
    .item-name-type span {
        display: block !important;
        padding: 4px;
    }
    .quantity-add input {
        margin: 0 8px;
    }
    .page-header .cart-menu a:after {
        right: -6px;
    }
    .checkout-my-cart {
        margin-left: 20px;
    }
    /* IE10 */
    *::-ms-backdrop,
    .item-name-type span {
        display: block !important;
        padding: 4px;
    }
    .quantity-add input {
        margin: 0 8px;
    }
    .page-header .cart-menu a:after {
        right: -6px;
    }
    .checkout-my-cart {
        margin-left: 20px;
    }
    /* IE11 */
}

@media screen and (max-width: 1700px) {
    .home-banner-content {
        min-height: 40.4345vw;
    }
}

@media screen and (max-width: 1440px) {
    .home-banner-content {
        min-height: 35.4345vw;
    }
}

@media screen and (max-width: 1200px) {
    .page-center {
        padding: 0 15px;
    }
    .my-cart {
        padding-left: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .current-fooditem {
        max-width: 32%;
        width: 32%;
    }
    .current-fooditem img {
        width: 100%;
    }
    .playstore-download {
        flex: 0 1 480px;
        padding: 60px 40px 60px 0;
    }
    .playstore-download h3 {
        font-size: 31px;
    }
    .banner-content {
        height: 210px;
    }
    .item-name-type h4 {
        font-size: 15px;
    }
    .quantity-add {
        width: 70px;
    }
}

@media screen and (max-width: 900px) {
    .food-menu {
        flex: initial;
        width: 70%;
    }
    .food-menu .item-name-type h4,
    .food-menu .item-price-quantity h5 {
        font-size: 13px;
        line-height: 13px;
    }
    .mycart-quantity.flex-justify {
        flex-direction: column;
    }
    h2 {
        font-size: 25px;
    }
    .item-name-type h4,
    .item-price-quantity h5 {
        font-size: 15px;
        line-height: 15px;
    }
    .item-price-quantity {
        margin: 15px 0 9px 0;
    }
    .delivery-boy img {
        width: 200px;
    }
    .banner-content {
        height: 180px;
    }
    .playstore-download {
        flex: 0 1 470px;
        padding: 75px 30px 75px 0;
    }
    .playstore-download h3 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .playstore-download p {
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 23px;
    }
    .toggle-switch p {
        margin-right: 14px;
        font-size: 16px;
    }
    .radio-buttons {
        flex-direction: column;
    }
    .radio-container {
        margin-right: 0;
        margin-top: 7px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:768px) and (max-width: 880px) {
    .playstore-download {
        flex: 0 1 366px;
        padding: 75px 0px 75px 0;
    }
    .playstore-download h3 {
        font-size: 26px;
        line-height: 28px;
    }
}

@media screen and (max-width: 768px) {
    .responsive-menu-wrapper {
        display: block;
    }
    nav.page-nav {
        display: none;
    }
    .header-banner:after {
        height: 190px;
    }
    .food-menu,
    .my-cart {
        width: 100%;
    }
    .toggle-food-current {
        flex-direction: column;
    }
    .toggle-food-current .flex {
        align-items: center;
    }
    .current-fooditem {
        max-width: 48%;
        margin-bottom: 30px;
        width: 48%;
    }
    .food-menu li {
        font-size: 17px;
        line-height: 17px;
        padding: 0px 25px 0px 0;
    }
    .playstore-app>.page-center {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .playstore-download {
        flex: initial;
        padding: 40px 25px 25px;
        text-align: center;
    }
    .playstore-download ul {
        max-width: 355px;
        margin: auto;
    }
    .mob-view figure {
        position: initial;
        margin: auto;
    }
    .mob-view figure:after {
        left: 0;
    }
}

@media screen and (max-width: 680px) {
    .header-banner:after {
        height: 64px;
        background-size: contain;
        background-position: bottom;
    }
    .food-list-cart {
        display: initial;
    }
    .food-menu {
        padding-top: 50px;
    }
    .delivery-boy img {
        bottom: -41px;
        width: 165px;
    }
    .current-fooditem {
        max-width: 32%;
    }
    .my-cart {
        padding: 0;
        margin: 30px 0;
    }
    .home-banner-content {
        min-height: 53.4345vw;
    }
    .footer-wrapper .page-center {
        flex-direction: column;
        text-align: center;
    }
    .bottom-footer-li li {
        padding: 5px 0;
        text-align: center;
        justify-content: center;
    }
    .mycart-quantity.flex-justify {
        flex-direction: initial;
    }
}

@media screen and (max-width: 480px) {
    .header-banner:after {
        height: 90px;
        background-size: cover;
    }
    .home-banner-content {
        background-image: url(../images/mob-banner.jpg) !important;
        min-height: 66.4345vw;
    }
    .page-logo img {
        width: 75%;
    }
    h2 {
        font-size: 22px;
    }
    .food-menu li {
        font-size: 15px;
        line-height: 15px;
        padding: 0px 15px 0px 0;
    }
    .toggle-food-current p {
        font-size: 15px;
    }
    .current-fooditem {
        max-width: 48%;
    }
    .toggle-food-current p {
        line-height: initial;
    }
    .toggle-food-current h6 {
        font-size: 18px;
    }
    .item-name-type h4,
    .item-price-quantity h5 {
        font-size: 15px;
        line-height: 15px;
    }
    .item-add-quantity h4 {
        font-size: 13px;
        line-height: 8px;
        padding: 7px 0 14px 0;
    }
    .quantity-add {
        font-size: 13px;
    }
    .playstore-download h3 {
        font-size: 20px;
    }
    .playstore-download p {
        font-size: 14px;
        padding: 0 20px;
    }
    .mob-view figure:after {
        height: 340px;
        width: 245px;
    }
    .mob-view figure img {
        width: 245px;
    }
    .delivery-boy img {
        bottom: -34px;
    }
    .home-header>.top-header {
        display: none;
    }
    .toggle-food-current .switch {
        margin-top: 0px;
    }
    .food-menu li {
        font-size: 14px;
        line-height: 14px;
        padding: 0;
    }
}

@media screen and (max-width: 380px) {
    .toggle-food-current p {
        font-size: 13px;
    }
    .current-fooditem {
        max-width: 100%;
        width: 100%;
    }
    .current-fooditem img {
        width: 100%;
    }
    .delivery-boy img {
        width: 158px;
        left: 42px;
    }
    .toggle-food-current p {
        margin-bottom: 4px;
    }
    .playstore-download ul {
        width: 100%;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .mob-view figure {
        height: 383px;
        width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .delivery-boy img {
        width: 130px;
    }
    .mob-view figure {
        height: 320px;
        width: 233px;
    }
}


/*................................checkout page.....................*/

.food-list-checkout {
    margin-bottom: 70px;
}

.profile-login {
    min-width: 208px;
    padding: 19px 25px;
    right: -55px;
}

.profile-login ul li:nth-of-type(1) {
    background-image: url(../images/profile-icon.png);
}

.profile-login ul li:nth-of-type(2) {
    background-image: url(../images/address-icon.png);
}

.profile-login ul {
    flex-direction: column;
    align-items: flex-start;
}

.profile-login ul li {
    text-align: left;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left center;
}

.profile-login ul li a {
    padding: 15px 0;
}

.logout {
    border-top: solid 1px #eae7e8;
    background-image: url(../images/logout-icon.png);
}

.logout a {
    color: #d51d26 !important;
}

.modal-wrapper {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 97.1em;
    z-index: 100;
    display: none;
}

.modal-content {
    max-width: 515px;
    width: 100%;
    padding: 60px 50px;
    background: #FFF;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1001;
    margin: auto;
    right: 0;
}

.modal-content h2 {
    font-size: 30px;
    font-weight: bold;
    color: #171113;
    margin-bottom: 30px;
}

.btnCloseModal {
    font-size: 28px;
    line-height: 18px;
    position: absolute;
    top: 60px;
    right: 50px;
    color: #7d7b7b !important;
}

.inner-banner img {
    visibility: hidden;
}

.inner-banner h2 {
    color: #fff;
    font-size: 31px;
}

.inner-banner {
    position: relative;
}

.checkout-left h2 {
    margin: 15px 0 25px 0;
}

.innerbanner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.checkout-left h4 {
    margin: 30px 0 3px 0;
    font-weight: 600;
    font-size: 20px;
    color: #2d2b3d;
}

.checkout-div {
    border-top: solid 1px #e6e6e8;
}

.checkout-my-cart {
    background-color: #f7f7f7;
}

.checkout-left ul {
    display: flex;
    margin-top: 20px;
    border: none;
    margin-bottom: 40px;
}

.checkout-left li {
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0px 15px 0px 0;
}

.checkout-left li a {
    color: #000;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 1px #000;
    flex-direction: column;
}

a.checkout-btn {
    padding: 10px 30px !important;
}

.checkout-left li span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5px;
}

.checkout-left li.active a,
.checkout-left li a:hover {
    color: #d51d26;
    border: solid 1px #d51d26;
}

.checkout-address h5 {
    color: #d51d26;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.checkout-address h5 a {
    color: #d51d26;
}

.checkout-addressblock {
    padding: 30px 20px;
    border: solid 1px #d3d3d7;
    margin: 5px 25px 50px 0;
    cursor: pointer;
}

.checkout-addressblock:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.checkout-addressblock p {
    margin-bottom: 0;
    line-height: 28px;
    color: #565272 !important;
}

.checkout-addressblock p strong {
    display: block;
    color: #474361;
}

.checkout-left .radio-container:nth-of-type(1) {
    background-image: url(../images/pay-delivery.png);
}

.checkout-left .radio-container:nth-of-type(2) {
    background-image: url(../images/google-pay.png);
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 100px;
    margin-right: 55px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    background-position: 42px -1px;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 35px;
    display: flex;
    align-items: center;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: contents;
}

.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #dedee5;
    border-radius: 50%;
}

.radio-container input:checked~.checkmark {
    background-color: #d81c1d;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.checkout-left .btn {
    margin-top: 50px;
    max-width: 337px;
    height: 55px;
}

.radio-buttons {
    position: relative;
}

.checkout-my-cart .radio-container {
    padding-left: 35px;
    margin-right: 28px;
    margin-bottom: 25px;
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: center;
}

.price-summery ul li {
    font-size: 18px;
    font-weight: normal;
    color: #474361;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.price-summery ul li span {
    text-transform: uppercase;
    text-align: right;
}

.price-total {
    padding-top: 20px;
    font-size: 18px !important;
    margin-top: 15px;
    font-weight: 600;
    border-top: dotted 2px #d4d1d1;
}

.item-discount {
    color: #d51d26;
}

.checkout-my-cart h6 {
    font-weight: 500;
    color: #454351;
    font-size: 18px;
    line-height: 18px;
    padding: 30px 0 20px 0;
    border-top: solid 1px #e6e6e8;
}

.checkout-my-cart h6 {
    padding: 30px 0 5px 0;
}

.checkout-my-cart p {
    color: #9296a8;
}

.checkout-div p {
    color: #9296a8;
}

.career-login .modal-content {
    padding: 60px;
    top: 27%;
}

.career-login .home-form {
    padding: 0px;
}

.career-login h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .checkout-left {
        padding-right: 30px;
    }
    .radio-container {
        padding-left: 90px;
        margin-right: 40px;
        margin-bottom: 12px;
        font-size: 20px;
    }
    .inner-banner {
        min-height: 215px;
    }
}

@media screen and (max-width: 900px) {
    .checkout-my-cart .my-cart {
        padding: 0 14px;
    }
    .checkout-my-cart .radio-container {
        margin-right: 0;
        margin-bottom: 12px;
        font-size: 16px;
        height: 30px;
        margin-top: 2px;
    }
    .price-summery ul li {
        font-size: 16px;
    }
    .checkout-left .checkout-div:nth-of-type(2) .flex {
        flex-direction: column;
    }
    .checkout-addressblock {
        margin: 0px 0px 25px 0;
    }
}

@media screen and (max-width: 768px) {
    .checkout-my-cart .mycart-quantity.flex-justify {
        /* flex-direction: column; */
    }
    .checkout-left {
        padding-right: 20px;
    }
    .checkout-address p {
        font-size: 15px;
    }
    .checkout-address h5 {
        font-size: 13px;
    }
    .checkout-addressblock {
        margin: 0px 0px 20px 0;
    }
    .radio-container {
        padding-left: 70px;
        margin-right: 20px;
        margin-bottom: 0px;
        font-size: 16px;
        background-position: 28px -1px;
    }
    .checkout-my-cart .quantity-add input {
        background-color: transparent;
    }
    .food-list-cart {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .delivery-boy {
        padding-top: 50px;
    }
    .modal-wrapper {
        z-index: 1000;
    }
    .checkout-my-cart {
        padding: 0 30px;
        max-width: 100%;
    }
    .career-login .modal-content {
        padding: 30px;
    }
}

@media screen and (max-width: 600px) {
    .checkout-my-cart .mycart-quantity.flex-justify {
        flex-direction: initial;
    }
    .checkout-left {
        padding-right: 0px;
        padding-top: 20px;
    }
    .radio-container {
        padding-left: 90px;
        margin-right: 20px;
        margin-bottom: 12px;
        font-size: 20px;
        background-position: 42px -1px;
    }
    .checkout-address h5 {
        font-size: 16px;
    }
    .inner-banner {
        min-height: 200px;
    }
    .checkout-addressblock {
        margin: 0px 0px 20px 0;
    }
    .checkout-left {
        margin-bottom: 20px;
    }
    .radio-container {
        margin-right: 0px;
        margin-bottom: 12px;
        font-size: 18px;
    }
    .checkout-my-cart .radio-container {
        padding-left: 30px;
        margin-right: 0;
        margin-bottom: 0px;
    }
    .modal-content {
        max-width: 440px;
        padding: 40px 30px;
        top: 60px;
        z-index: 1000;
    }
    .modal-content .form-group input {
        margin: 10px 0;
    }
    .modal-content h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .btnCloseModal {
        font-size: 25px;
        top: 36px;
    }
}

@media screen and (max-width: 480px) {
    .checkout-left .checkout-div .flex {
        flex-direction: column;
    }
    .checkout-address {
        flex-direction: column;
    }
    .checkout-address p {
        margin-bottom: 3px;
    }
    .checkout-address h5 {
        margin-bottom: 15px;
    }
    .modal-content {
        max-width: 380px;
        padding: 30px 20px;
        top: 60px;
        z-index: 1000;
    }
    .btnCloseModal {
        right: 15px;
    }
    .career-login .modal-content {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {
    .checkout-left ul,
    .checkout-address.flex-justify {
        flex-direction: column;
    }
    .checkout-left li {
        margin-bottom: 15px;
        padding: 0;
        justify-content: center;
    }
    .radio-container {
        padding-left: 86px;
        margin-bottom: 12px;
        font-size: 17px;
        background-position: 31px -1px;
    }
    .modal-content {
        max-width: 320px;
        padding: 30px 20px;
        top: 60px;
        z-index: 1000;
    }
    .price-summery ul li {
        font-size: 16px;
    }
}