html,body{
    overflow-x: hidden;
}
.addNewVariant , .addNewInputsWrapper , .addNewInputsWrapperedit{
    background: #fff;
    position: relative;
     padding: 20px 10px;
    margin-bottom: 20px;
     -webkit-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    display: none;
}
.addNewInputsWrapper , .addNewInputsWrapperedit{
    padding: 40px 15px 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.btn {
    font-size: 14px;
    height: 38px;
    line-height: 38px !important;
    padding: 0 15px;
}
.addNewVariant .close,  .addNewInputsWrapper .closet, .addNewInputsWrapperedit .closet{
    position: absolute;
    top:10px;
    right:20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #04186f;
    padding: 5px;
    z-index: 1;
     -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
     opacity: 0.2;
}
.treeList, .treeList ul {
    margin:0;
    padding:0;
    list-style:none;
    background:#fff;
     position:relative;
}

.treeList > ul {
    position:relative;
   overflow: hidden;
}
/*.treeList ul ul {
    margin-left:20px
}*/
/*.treeList ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}*/
.treeList > ul > li > a{
    /*border-bottom: 1px solid #e7e7e7;*/
    /*background: #f5f5f5;*/
    font-weight: 600;
}
.treeList > ul > li > span{
    background: #dbdada;
}
/*.treeList > ul > li:last-child a{
    border: 0;
}*/
.treeList li {
    margin:0;
    padding-left: 30px;
    line-height:60px;
    color:#369;
    font-size:16px;
    position:relative;
    
}
.treeList li > ul{
    display: none;
}
.treeList > ul > li  ul li> a{
    /*border-bottom: 1px solid #e7e7e7;*/
}
.treeList  li{
    background: #dbdada;
}
.treeList  li li{
    background: #e2e1e1;
}
.treeList  li li li{
    background: #e9e9e9;
}
.treeList  li li li li{
    background: #f0f0f0;
}
.treeList  li li li li li{
    background: #f7f7f7;
}
.treeList  li li li li li li{
    background: #ffffff;
}
.treeList > ul > li > ul >li:last-child> a{
    border-bottom:0;
}

.treeList li> span{
    display: block;
    width: 30px;
    height: 60px;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
}
.treeList li > span::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../images/iconPlus.png) no-repeat center center;
    -webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}
.treeList li.open > span::after{
   background: url(../images/iconMinus.png) no-repeat center center;
}
.treeList li.open li::after{
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background: url(../images/iconSub.png) no-repeat center center;
    top: 22px;
    left: -20px;
    z-index: 1;
}
.treeList  ul  li.open:before{
    position: absolute;
    content: "";
    background:#fff;
    top: 60px;
    left: 0;
    z-index: 0;
    width: 30px;
    height: 100%;

}
.treeList li > a{
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 200px  0 5px ;  
}
.treeList li > a> i{
   
   border-radius: 50%;
   display: inline-block;
   vertical-align: middle; 
   /*float: right;*/
   margin-left: 10px;
}
.treeList li > a> i img{
    max-height: 30px;
    border-radius: 50%;
}
.treeList li > a:hover{
    color:#04186f; 
}
.treeList li > .actions{
    position: absolute;
    top:0;
    right: 0;
    z-index: 5;
    padding: 0 5px;
    font-size: 0;
}
.treeList li > .actions a.btn{
    height: 35px;
    line-height: 19px;
    background: #3c8dbc;
    color: #fff;
    border-radius: 4px;
    padding: 0 7px;
}
.treeList li > .actions .status{
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right:20px; 
    text-align: left;
}
.treeList li > .actions .status.active{
    color: #00a65a;
}
.treeList li > .actions .status.inactive{
    color: #dd4b39 ;
}
.treeList li >.actions a,.treeList li >.actions a.actions i{
    font-size: 14px;
    line-height: 14px;
    color: #3c8dbc;
     -webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}
.treeList li >.actions a:hover,.treeList li >.actions a:hover i{
    color:#04186f; 
}

.treeList li >.actions a {
    display: inline-block!important;
    margin: 0 5px;
    padding: 0 5px;
    height: 14px;
    vertical-align: middle;
}

.treeList li a {
    text-decoration: none;
    color:#369;
}
.m-0{
    margin: 0 !important;
}
.my-0{
    margin-top:  0 !important;
    margin-bottom:  0 !important;
}
.mx-0{
    margin-left:  0 !important;
    margin-right:  0 !important;
}
.mt-0{
     margin-top:  0 !important;
}
.mb-0{
     margin-bottom:  0 !important;
}
.ml-0{
     margin-left:  0 !important;
}
.mr-0{
     margin-right:  0 !important;
}
.p-0{
    padding: 0 !important;
}
.py-0{
    padding-top:  0 !important;
    padding-bottom:  0 !important;
}
.px-0{
    padding-left:  0 !important;
    padding-right:  0 !important;
}
.pt-0{
     padding-top:  0 !important;
}
.pb-0{
     padding-bottom:  0 !important;
}
.pl-0{
     padding-left:  0 !important;
}
.pr-0{
     padding-right:  0 !important;
}

.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top:40px;
}
.pt-50{
    padding-top:50px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom:40px;
}
.pb-50{
    padding-bottom:50px;
}
.pt-no-label{
    padding-top: 28px;
}
.mandatoryCheck{
    padding-top: 45px;
   
}
.form-group{
    position: relative;
}
.form-group label{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #000;
}
.form-control{
    height: 38px;
    border:1px solid #d9d9d9;
    border-radius:0;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #000;
}
.form-check{
	position: relative;
	margin: 0 0 15px  0;
}
.btn{
    font-size:14px;
    line-height: 14px;
    height: 38px;
}
.btn-submit{
    min-width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 18px !important;
    margin: 0 auto;
    display: block;
   
}

.btn-add-new{
    background: #66cc79;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    height: 38px;
}

.bg-blue{
    font-size:14px;
    line-height: 14px;
    background: #80adea !important;
    color: #fff;
     -webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;

}
.bg-blue:hover{
    color: #04186f;
}
.btn-submit{
    background: #04186f !important;
}
.btn-submit:hover{
    background: #80adea !important;
}	
.form-check input[type="checkbox"]:not(:checked),.form-check input[type="checkbox"]:checked,
.form-check input[type="radio"]:not(:checked),.form-check input[type="radio"]:checked {
    position: absolute;
    left: -99999px;
}

.form-check input[type="checkbox"]:not(:checked) +label,  .form-check input[type="checkbox"]:checked + label,
.form-check input[type="radio"]:not(:checked) +label,  .form-check input[type="radio"]:checked + label {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding-left: 30px;
    padding-top: 5px;
}

.right.form-check input[type="checkbox"]:not(:checked) +label, .right.form-check input[type="checkbox"]:checked + label,
.right.form-check input[type="radio"]:not(:checked) +label, .right.form-check input[type="radio"]:checked + label {
    padding-left: 0;
}

.no-text.form-check input[type="checkbox"]:not(:checked) +label, .no-text.form-check input[type="checkbox"]:checked + label,
.no-text.form-check input[type="radio"]:not(:checked) +label, .no-text.form-check input[type="radio"]:checked + label {
    padding-top: 20px;
    padding-left: 20px;
    width: auto;
}
/* checkbox aspect */
.form-check input[type="checkbox"]:not(:checked) +label:before,  .form-check input[type="checkbox"]:checked + label:before,
.form-check input[type="radio"]:not(:checked) +label:before,  .form-check input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    margin: 0;
}

.form-check input[type="radio"]:not(:checked) +label:before,  .form-check input[type="radio"]:checked + label:before{
    border-radius: 50%;
}
.right.form-check input[type="checkbox"]:not(:checked) +label:before, .right.form-check input[type="checkbox"]:checked + label:before,
.right.form-check input[type="radio"]:not(:checked) +label:before, .right.form-check input[type="radio"]:checked + label:before {
    right: 0;
    left: inherit;
}
/* checked mark aspect */
.form-check input[type="checkbox"]:not(:checked) +label:after,  .form-check input[type="checkbox"]:checked + label:after,
.form-check input[type="radio"]:not(:checked) +label:after,  .form-check input[type="radio"]:checked + label:after{
    content: '';
    background: url(../images/iconBlueTick.png) no-repeat 0 0;
    width: 10px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 5px;
    font-size: 13px;
    line-height: 13px;
    color: #000;
    transition: all .2s;
}
.form-check input[type="radio"]:not(:checked) +label:after,  .form-check input[type="radio"]:checked + label:after{
    content: '';
    background: #04186f;
    width: 10px;
    height: 10px;
    top:5px;
    left: 5px;
    border-radius: 50%;
}

.right.form-check input[type="checkbox"]:not(:checked) +label:after, .right.form-check input[type="checkbox"]:checked + label:after,
.right.form-check input[type="radio"]:not(:checked) +label:after, .right.form-check input[type="radio"]:checked + label:after {
    right: 4px;
    left: inherit;
}

/* checked mark aspect changes */
.form-check input[type="checkbox"]:not(:checked) +label:after,
.form-check input[type="radio"]:not(:checked) +label:after {
    opacity: 0;
    transform: scale(0);
}

.form-check input[type="checkbox"]:checked + label:after,
.form-check input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.form-button{
    position: relative;
}
.tabWrapper{
    padding: 30px 0;
}
.tabWrapper > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabWrapper > ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    background: #eee;
}
.tabWrapper > ul li.active a,.tabWrapper > ul li.active a:focus{
    color: #000;
    background: #fff;
}
.tabWrapper .tab-content{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding:40px 30px;
    background: #fff;
    border:1px solid #ddd;
    border-top:0;
}
.tab-pane .row{
    margin-left: 0;
    margin-right: 0;
}
.panelHolder{
    padding:30px 20px 20px;
    position: relative;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 25px 0 45px;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
}
.panelHolder > span{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding: 0 15px;
    position: absolute;
    top:-12px;
    left:20px;
    background: #fff;
}
.addNewVariant{
    position: relative;
     padding: 20px 10px;
    margin-bottom: 20px;
     -webkit-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    display: none;
}
.addNewVariant .close{
    position: absolute;
    top:10px;
    right:20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #04186f;
    padding: 5px;
    z-index: 1;
     -webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}
.addVariantWrapper{
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

.colourPicker{
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.colourPicker span{

    position: absolute;
    top: 0;
    left: 0px;
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;

}
.colorCode{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    vertical-align: top;
}
.colorCode input{
    width: auto;
    height: 30px;
    border:1px solid #d9d9d9;
    border-radius:0;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #000;
    margin: 0 0 15px 5px;
    display: inline-block;
}
@media screen and (max-width:767px){
    .mandatoryCheck{
        padding-top: 20px;
    
    }
    /*.px-0.mandatoryCheck{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }*/
}
@media screen and (max-width:950px){
    .treeList li > a{
        padding: 0 10px;
        display: block;
 
    }
    .treeList li > .actions{
        position: relative;
        text-align: right;
        display:block;
        vertical-align: top;
        line-height: 30px;
    }
    .treeList > ul > li {
        position: relative;
        z-index: 1;
    }
    
    .treeList li.open::after{
        top:112px;
    }
    .treeList  ul  li.open:before{{
        top: 90px;
    }
    /*.treeList li > .actions .status,.treeList li > .actions a{
        display: block !important;
        width:50px;
        height: 30px;
        border-bottom:1px solid #e7e7e7;
    }
    .treeList li > .actions a:last-child{
        border: 0;
    }*/
}

