html,body{
    overflow-x: hidden;
}
.content-header>h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}
.content  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}
.content  h2 {
    margin: 0 0 15px 0;
    font-size: 23px;
    font-weight: 900;
}
.content  h3 {
    margin: 0 0 12px 0;
    font-size: 21px;
    font-weight: 700;
}
.content  h4 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: 700;
}
.content  h5 {
    margin: 0 0 8px 0;
    font-size: 17px;
    font-weight: 700;
}
.content  h6 {
    margin: 0 0 8px 0;
    font-size: 15px;
    font-weight: 700;
}
.treeList, .treeList ul {
    margin:0;
    padding:0;
    list-style:none;
    background:#fff;
    position:relative;
}

.treeList > ul {
    position:relative;
    overflow: hidden;
}
/*.treeList ul ul {
    margin-left:20px
}*/
/*.treeList ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}*/
.treeList > ul > li > a{
    /*border-bottom: 1px solid #e7e7e7;*/
    /*background: #f5f5f5;*/
    font-weight: 600;
}
.treeList > ul > li > span{
    background: #dbdada;
}
/*.treeList > ul > li:last-child a{
    border: 0;
}*/
.treeList li {
    margin:0;
    padding-left: 30px;
    line-height:60px;
    color:#369;
    font-size:16px;
    position:relative;

}
.treeList li > ul{
    display: none;
}
.treeList > ul > li  ul li> a{
    /*border-bottom: 1px solid #e7e7e7;*/
}
.treeList  li{
    background: #dbdada;
}
.treeList  li li{
    background: #e2e1e1;
}
.treeList  li li li{
    background: #e9e9e9;
}
.treeList  li li li li{
    background: #f0f0f0;
}
.treeList  li li li li li{
    background: #f7f7f7;
}
.treeList  li li li li li li{
    background: #ffffff;
}
.treeList > ul > li > ul >li:last-child> a{
    border-bottom:0;
}

.treeList li> span{
    display: block;
    width: 30px;
    height: 60px;
    position: absolute;
    top:0;
    left: 0;
    cursor: pointer;
}
.treeList li > span::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../images/iconPlus.png) no-repeat center center;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.treeList li.open > span::after{
    background: url(../images/iconMinus.png) no-repeat center center;
}
.treeList li.open li::after{
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background: url(../images/iconSub.png) no-repeat center center;
    top: 22px;
    left: -20px;
    z-index: 1;
}
.treeList  ul  li.open:before{
    position: absolute;
    content: "";
    background:#fff;
    top: 60px;
    left: 0;
    z-index: 0;
    width: 30px;
    height: 100%;

}
.treeList li > a{
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 200px  0 5px ;
}
.treeList li > a> i{

    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.treeList li > a> i img{
    max-height: 30px;
    border-radius: 50%;
}
.treeList li > a:hover{
    color:#04186f;
}
.treeList li > .actions{
    position: absolute;
    top:0;
    right: 0;
    z-index: 5;
    padding: 0 5px;
    font-size: 0;
}
.treeList li > .actions a.btn{
    height: 20px;
    line-height: 19px;
    background: #3c8dbc;
    color: #fff;
    border-radius: 4px;
    padding: 0 7px;
}
.status{
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.status.active{
    color: #00a65a;

}
.status.inactive{
    color: #dd4b39 ;
}
.treeList li > .actions .status{
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right:20px;
    text-align: left;
}
.treeList li > .actions .status.active{
    color: #00a65a;
}
.treeList li > .actions .status.inactive{
    color: #dd4b39 ;
}

.treeList li >.actions a,.treeList li >.actions a.actions i{
    font-size: 14px;
    line-height: 14px;
    color: #3c8dbc;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.treeList li >.actions a:hover,.treeList li >.actions a:hover i{
    color:#04186f;
}

.treeList li >.actions a {
    display: inline-block!important;
    margin: 0 5px;
    padding: 0 5px;
    height: 14px;
    vertical-align: middle;
}

.treeList li a {
    text-decoration: none;
    color:#369;
}
.m-0{
    margin: 0 !important;
}
.my-0{
    margin-top:  0 !important;
    margin-bottom:  0 !important;
}
.mx-0{
    margin-left:  0 !important;
    margin-right:  0 !important;
}
.mt-0{
    margin-top:  0 !important;
}
.mb-0{
    margin-bottom:  0 !important;
}
.ml-0{
    margin-left:  0 !important;
}
.mr-0{
    margin-right:  0 !important;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top:40px;
}
.mt-50{
    margin-top:50px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom:40px;
}
.mb-50{
    margin-bottom:50px;
}
.p-0{
    padding: 0 !important;
}
.py-0{
    padding-top:  0 !important;
    padding-bottom:  0 !important;
}
.px-0{
    padding-left:  0 !important;
    padding-right:  0 !important;
}
.pt-0{
    padding-top:  0 !important;
}
.pb-0{
    padding-bottom:  0 !important;
}
.pl-0{
    padding-left:  0 !important;
}
.pr-0{
    padding-right:  0 !important;
}

.pt-10{
    padding-top: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pt-40{
    padding-top:40px;
}
.pt-50{
    padding-top:50px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-40{
    padding-bottom:40px;
}
.pb-50{
    padding-bottom:50px;
}

.pt-no-label{
    padding-top: 28px;
}
.mandatoryCheck{
    padding-top: 45px;

}
.form-group{
    position: relative;
}
.form-inline .form-group{
    padding: 0 15px 15px;
}
.form-inline .form-group label{
    padding-right: 20px;
}
.form-group label{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #000;
}
.form-control{
    height: 38px;
    border:1px solid #d9d9d9;
    border-radius:0;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #000;
}
textarea.form-control{
    height: 150px;
}
.form-check{
    position: relative;
    margin: 0 0 15px  0;
}
.btn{
    font-size:14px;
    line-height: 14px;
    height: 38px;
    line-height: 38px;
    padding:0 15px;
}
.btn-submit{
    min-width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 18px !important;
    margin: 0 auto;
    display: block;
    color: #fff;

}

.btn-add-new{
    background: #66cc79;
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    height: 38px;
}
.btn-bg-green{
    background: #66cc79;
    color: #fff;
}
.bg-blue{
    font-size:14px;
    line-height: 14px;
    background: #80adea !important;
    color: #fff;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;

}
.bg-blue:hover{
    color: #04186f;
}
.btn-submit{
    background: #04186f !important;
}
.btn-submit:hover{
    background: #80adea !important;
}
.form-check input[type="checkbox"]:not(:checked),.form-check input[type="checkbox"]:checked,
.form-check input[type="radio"]:not(:checked),.form-check input[type="radio"]:checked {
    position: absolute;
    left: -99999px;
}

.form-check input[type="checkbox"]:not(:checked) +label,  .form-check input[type="checkbox"]:checked + label,
.form-check input[type="radio"]:not(:checked) +label,  .form-check input[type="radio"]:checked + label {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding-left: 30px;
    padding-top: 5px;
}

.right.form-check input[type="checkbox"]:not(:checked) +label, .right.form-check input[type="checkbox"]:checked + label,
.right.form-check input[type="radio"]:not(:checked) +label, .right.form-check input[type="radio"]:checked + label {
    padding-left: 0;
}

.no-text.form-check input[type="checkbox"]:not(:checked) +label, .no-text.form-check input[type="checkbox"]:checked + label,
.no-text.form-check input[type="radio"]:not(:checked) +label, .no-text.form-check input[type="radio"]:checked + label {
    padding-top: 20px;
    padding-left: 20px;
    width: auto;
}
.no-text.form-check input[type="radio"]:not(:checked) +label, .no-text.form-check input[type="radio"]:checked + label {
    width: 22px;
    height: 22px;
}
/* checkbox aspect */
.form-check input[type="checkbox"]:not(:checked) +label:before,  .form-check input[type="checkbox"]:checked + label:before,
.form-check input[type="radio"]:not(:checked) +label:before,  .form-check input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
    margin: 0;
}

.form-check input[type="radio"]:not(:checked) +label:before,  .form-check input[type="radio"]:checked + label:before{
    border-radius: 50%;
}
.right.form-check input[type="checkbox"]:not(:checked) +label:before, .right.form-check input[type="checkbox"]:checked + label:before,
.right.form-check input[type="radio"]:not(:checked) +label:before, .right.form-check input[type="radio"]:checked + label:before {
    right: 0;
    left: inherit;
}
/* checked mark aspect */
.form-check input[type="checkbox"]:not(:checked) +label:after,  .form-check input[type="checkbox"]:checked + label:after,
.form-check input[type="radio"]:not(:checked) +label:after,  .form-check input[type="radio"]:checked + label:after{
    content: '';
    background: url(../images/iconBlueTick.png) no-repeat 0 0;
    width: 10px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 13px;
    line-height: 13px;
    color: #000;
    transition: all .2s;
}
.form-check input[type="radio"]:not(:checked) +label:after,  .form-check input[type="radio"]:checked + label:after{
    content: '';
    background: #04186f;
    width: 10px;
    height: 10px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.right.form-check input[type="checkbox"]:not(:checked) +label:after, .right.form-check input[type="checkbox"]:checked + label:after,
.right.form-check input[type="radio"]:not(:checked) +label:after, .right.form-check input[type="radio"]:checked + label:after {
    right: 6px;
    left: inherit;
}
.variant.form-check{
    padding: 7px;
    background: #e7e7e7;
    border-radius: 4px;
    border:1px solid #ccc;
}
.variant.form-check span{
    position: absolute;
    left: 10px;
    top: 7px;
    width: 22px;
    height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #000;
    display: inline-block;
}
.color.variant.form-check{
    padding: 7px 7px 7px 40px;
}
/* checked mark aspect changes */
.form-check input[type="checkbox"]:not(:checked) +label:after,
.form-check input[type="radio"]:not(:checked) +label:after {
    opacity: 0;
    transform: scale(0);
}

.form-check input[type="checkbox"]:checked + label:after,
.form-check input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.form-button{
    position: relative;
}
.tabWrapper{
    padding: 30px 0;
}
.tabWrapper > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tabWrapper > ul li a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000;
    background: #eee;
}
.tabWrapper > ul li.active a,.tabWrapper > ul li.active a:focus{
    color: #000;
    background: #fff;
}
.tabWrapper .tab-content{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding:40px 30px;
    background: #fff;
    border:1px solid #ddd;
    border-top:0;
}
.tab-pane .row{
    margin-left: 0;
    margin-right: 0;
}
.panelHolder{
    padding:30px 20px 20px;
    position: relative;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 25px 0 45px;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
}
.panelHolder > span{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    padding: 0 15px;
    position: absolute;
    top:-12px;
    left:20px;
    background: #fff;
}
.addNewVariant , .addNewInputsWrapper{
    background: #fff;
    position: relative;
    padding: 20px 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    display: none;
}
.addNewInputsWrapper{
    padding: 40px 15px 20px;
}
.addNewVariant .close,  .addNewInputsWrapper .close{
    position: absolute;
    top:10px;
    right:20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #04186f;
    padding: 5px;
    z-index: 1;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.addVariantWrapper{
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

.colourPicker{
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}
.colourPicker span{

    position: absolute;
    top: 0;
    left: 0px;
    width: 30px;
    height: 30px;
    background: url(../images/select.png) center;

}
.colorCode{
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    vertical-align: top;
}
.colorCode input{
    width: auto;
    height: 30px;
    border:1px solid #d9d9d9;
    border-radius:0;
    box-shadow: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #fff;
    color: #000;
    margin: 0 0 15px 5px;
    display: inline-block;
}

.title-line{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0 ;
    color:#000;
    position: relative;
    display: block;
}
.title-line:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e7e7e7;
    top:50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
}
.title-line span{
    display: inline-block;
    padding: 0 20px 0 0 ;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height:24px;
    color:#000;
    background: #fff;
    z-index: 1;
    position: relative;
}
.formContentHolder{
    background: #fff;
    padding: 30px 20px;
    position: relative;
}

.categorySelect{
    padding-left: 40px;
    background: url(../images/iconRightArrow.png) no-repeat 7px center;

}
.categorySelect:first-child{
    padding-left:15px;
    background:none;
}
.colorLabel{
    position: relative;
    padding-left: 40px;
    display: block;
}
.colorLabel i{
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #000;
    display: block;
}


.tableWrapper thead{
    margin-bottom: 10px;
}
.tableWrapper thead th:first-child{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.tableWrapper thead th:last-child{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tableWrapper thead th{
    background: #c3ebbe;

}
.tableWrapper th{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.tableWrapper td{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.imgUploadHolder{
    position: relative;
}
.bgImage{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgImage img{
    display: none;
}
.uploadImages{
    display: inline-block;
}
.multiImgUpload{
    display: none !important;
}
.imgThumb {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin:0  20px 20px 0;
    position: relative;
    vertical-align: top;
    z-index: 0;
}
.imgThumb figure,.imgThumb  img{
    max-width: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.imgThumb a{
    position: absolute;
    top:-15px;
    right: -15px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    background: #eeeeee;
    z-index: 1;

}
.imgThumb a::after{
    position: absolute;
    content: "x";
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height:12px;
    margin: auto;
    line-height: 20px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.imgFileUpload{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin:0  20px 20px 0;
    background: #e7e7e7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    text-align: center;
    position: relative;
    vertical-align: top;
}
.imgFileUpload::after{
    position: absolute;
    content: "+";
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.btnVariantPopup{
    display: inline-block;
    padding: 0px 15px;
    height: 40px;
    line-height: 40px;
    background: #65cc79;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
    border-radius: 4px;
}
.addVarientPopup{
    display: none;
    padding: 30px 15px 10px;
    max-width: 300px;
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    right:0;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
}
.addVarientPopup button{
    width: 100%
}
.addVarientPopup .close{
    position: absolute;
    top:5px;
    right: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    color: #444;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 30px;
    border-radius: 4px;
}
.userList{
    padding: 20px 15px;
    border-bottom: 1px dashed #444;
}
.userList:last-child{
    border-bottom:0;
}
.user-img{
    width: 100px;
    padding-right: 20px;
}
.user-img figure{
    width: 100px;
}
.user-img img{
    width:100px;
    height:100px;
    max-width: 100%;
    border-radius: 50%;
}
.actions{
    padding: 0 10px;
}
.actions ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.actions li{
    margin: 5px 0;
    padding: 0;
    display: block;
}
.actions li a{
    position: relative;
    width: 28px;
    height: 28px;
    background: #3c8dbc;
    border:2px solid #3c8dbc;
    border-radius: 50%;
    color: #fff;
    display: block;
    line-height: 28px;
    text-align: center;
}
.actions li a:hover{
    color:#3c8dbc;
    background:#fff;
}
.actions li a i{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 26px;
    text-align: center;
}
.userList .media{
    display: table;
    width: 100%;
}
.userList .media-body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.userList  span,.userList  strong{
    display: inline-block;
}
.userList .status{
    margin-top: 5px;
    display: block;
    text-align: center;
}
.media-body .top-section{
    padding-bottom: 15px;
}
.userList .media-body h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.userList .media-body h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 17px;
}
/*.media-body .bottom-section{
    padding-top: 10px;
}*/
.created-date strong,.last-login-date strong{
    padding: 0 3px ;
}
.round-edit{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #fff;
    background: #3c8dbc;
    border:2px solid #3c8dbc;
    position: relative;
    display: block;
}
.round-edit:hover{
    background: #fff;
    color: #3c8dbc;
}
.round-edit i{
    font-size: 16px;
    position: absolute;
    width: 16px;
    height: 16px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.addVendorForm{
    background: #fff;
    padding: 30px 15px;
}
.profile-card {
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}
.profile-card .round-edit{
    position: absolute;
    top: 20px;
    right: 20px;
}

.profile-card .cardheader {
    background: #2accc0;
    background-size: cover;
    height: 135px;
}

.profile-card .avatar {
    position: relative;
    top: -60px;
    width: 120px;
    height: 120px;
    margin: 0 auto -60px;
}
.profile-card .avatar .round-edit{
    position: absolute;
    bottom: 0;
    right: 0;
}

.profile-card .avatar img {
    width: 120px;
    height: 120px;
    max-width: 120px;
    max-height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
.uploadWrap .inputfileUpload{
    display: none;
}
.tableWrapper th, .tableWrapper td{
    white-space: nowrap;
}
.timepicker_wrap{
    min-width: 265px;
    width: 100%;
}
.input-group .form-control{
    min-width: 100px;
}
.tableWrapper{
    max-height: 1100px;
    width: 100%;
    overflow-y:hidden;
}
.placepicker-map {
    width: 100%;
    height: 300px;
}
.map{
    height: 300px;
    border: 0px solid #000;
    width: 100%;
    max-height: 300px;
}
.customTableWrapper {
    padding: 25px 15px;
    background: #fff;
}

.table {
    display: table;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.table .tableRow {
    display: table-row;
    width: 100%;
}
.table .tableHead {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #282828;
    width: 10%;
    padding: 10px;
}
.table .tableHead.item {
    width: 25%;
}
.table .tableHead.item span {
    visibility: hidden;
}
.table .tableHead.remove {
    width: 1%;
}
.table .tableHeadMobile {
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #282828;
}
.table .tableHeadMobile.item span {
    visibility: hidden;
}
.table .tableColumn {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #282828;
    width: 10%;
}
.table .tableColumn.item {
    width: 25%;
}
.table .tableColumn.item strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #282828;
    display: block;
}
.table .tableColumn.item span {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #282828;
    display: block;
}
.table .tableColumn.item .remove {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #bf6464;
    display: inline-block;
}
.table .tableColumn.itemImage {
    width: 14%;
}
.table .tableColumn.remove {
    width: 1%;
}
.table .tableColumn.remove .btnRemove {
    background: url("../images/iconRemove.png") no-repeat scroll center;
    display: block;
    height: 21px;
    position: relative;
    width: 20px;
    margin: 0 auto;
}
.table .tableColumn .qty {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 7px 15px;
    background: #fff;
    width: 60px;
    border: 1px solid #dedede;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../images/iconDDL.png) no-repeat 83% center;
}
.table .tableColumn .qty:focus {
    outline: none;
}
.table .tableItemMobile {
    display: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #282828;
    padding: 10px;
}
.table .tableItemMobile .remove {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 11px;
    color: #bf6464;
    display: inline-block;
}
.table .tableClear {
    clear: both;
    display: none;
}

.itemImage img {
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.itemImage figure {
    position: relative;
    width: 90px;
    height: 83px;
    background: #f5f5f5;
    padding: 12px;
    overflow: hidden;
}
.itemImage figure.strip:after {
    content: "";
    position: absolute;
    top: -4px;
    left: 5px;
    z-index: 0;
    width: 28px;
    height: 127px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6eb60), to(#f6eb60));
    background: linear-gradient(to bottom, #f6eb60 0%, #f6eb60 100%);
    -webkit-transform: skew(-54deg) scaleY(0.9999) rotate(15deg);
    transform: skew(-39deg) scaleY(0.9999) rotate(34deg);
    -webkit-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
.orderListHolder .customTableWrapper {
    padding: 0 ;
}
.orderListHolder .tableItemMobile, .orderListHolder .tableItemMobile a {
    color: #282828;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.orderListHolder .tableColumn {
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #282828;
    padding-left: 0;
    border-bottom: 1px dotted #e7e7e7;
}
.orderListHolder .tableColumn a {
    color: #282828;
}
.orderListHolder .tableColumn a:hover {
    text-decoration: underline;
}
.orderListHolder .tableColumn.itemImage{
    padding-left: 15px;
    width:1%;
}
.orderListHolder .tableColumn.item{
    width: 12%;
}
.orderListHolder .tableColumn.itemStatus {
    width: 22%;
}
.orderListHolder .tableColumn.itemStatus span {
    font-size: 14px;
    display: block;
}
.orderListHolder .tableColumn.itemStatus span em {
    display: inline-block;
    font-style: normal;
    padding-left: 3px;
}
.orderListHolder .tableColumn.itemStatus span.seller {
    color: #666666;
}
.orderListHolder .tableColumn.itemStatus span.seller em {
    color: #0a46b9;
}
.orderListHolder .tableColumn.itemStatus span.status {
    color: #282828;
}
.orderListHolder .tableColumn.itemStatus span.status em {
    color: #25ae7e;
}

.infoHolder {
    background: #fcfcfc;
    border-bottom: 1px solid #e7e7e7;
}
.infoHolder strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.infoHolder address {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.infoHolder address strong {
    font-size: 14px;
}
.infoHolder .address {
    border-right: 1px solid #e7e7e7;
}
.infoHolder .col-sm-6 {
    padding: 25px 22px 10px;
}
.wizardProgress .wizardStatus {
    position: relative;
}
.wizardProgress .wizardStatus .statusLine {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #cacaca;
    bottom: 5px;
    left: 0;
    z-index: 0;
}
.wizardProgress .wizardStatus .statusLine span {
    display: block;
    width: 0;
    height: 2px;
    background: #3daa61;
}
.wizardProgress .wizardStatus ul {
    margin: 10px 0 15px;
    padding: 0;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    height: 35px;
    width: 100%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.wizardProgress .wizardStatus li {
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    height: 12px;
    pointer-events: none;
}
.wizardProgress .wizardStatus li span {
    position: absolute;
    top: -25px;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
}
.wizardProgress .wizardStatus li:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #cacaca;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: block;
}
.wizardProgress .wizardStatus li:first-child span, .wizardProgress .wizardStatus li:nth-child(2) span {
    padding-right: 5px;
}
.wizardProgress .wizardStatus li:nth-child(3) span, .wizardProgress .wizardStatus li:last-child span {
    padding-left: 5px;
}
.wizardProgress .wizardStatus li:nth-child(2) span {
    left: -15px;
}
.wizardProgress .wizardStatus li:nth-child(3):after, .wizardProgress .wizardStatus li:last-child:after {
    left: inherit;
    right: 0;
}
.wizardProgress .wizardStatus li:nth-child(3) span {
    text-align: right;
    left: 15px;
    right: 0;
}
.wizardProgress .wizardStatus li.completed {
    pointer-events: visible;
    cursor: pointer !important;
}
.wizardProgress .wizardStatus li.completed.selected:before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    display: block;
    top: 20px;
    left: 0;
    margin: auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e7e7e7;
}
.wizardProgress .wizardStatus li.completed.selected:nth-child(3):before, .wizardProgress .wizardStatus li:last-child:before {
    left: inherit;
    right: 0;
}
.wizardProgress .wizardStatus li.completed:after {
    background: #3daa61;
}
.wizardProgress .wizardStatus li.completed span {
    color: #3daa61;
}
.wizardProgress .wizardStatus li:first-child {
    text-align: left;
}
.wizardProgress .wizardStatus li:first-child span {
    text-align: left;
}
.wizardProgress .wizardStatus li:first-child:after {
    right: inherit;
}
.wizardProgress .wizardStatus li:first-child.completed:before {
    right: inherit;
}
.wizardProgress .wizardStatus li:last-child {
    text-align: right;
}
.wizardProgress .wizardStatus li:last-child span {
    text-align: right;
}
.wizardProgress .wizardStatus li:last-child:after {
    left: inherit;
}
.wizardProgress .wizardStatus li:last-child.completed:before {
    left: inherit;
}
.wizardProgress .wizardContent {
    display: none;
    position: relative;
    border-top: 2px solid #e7e7e7;
    padding-top: 10px;
}
.wizardProgress .wizardContent p strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.wizardProgress .wizardContent .tableColumn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 0px 5px 3px 0;
    vertical-align: top;
}
.wizardProgress .wizardContent .tableColumn.date, .wizardProgress .wizardContent .tableColumn.time {
    width: 4%;
}
@media screen and (max-width:1099px){
    .created-date strong,.last-login-date strong{
        display: block;
        padding: 3px  0 ;
    }
    .orderListHolder .tableColumn.itemStatus span.seller{
        display: block;
        margin-bottom: 20px;
    }
    .wizardProgress .wizardStatus li span{
        line-height: 15px;
        top:-32px;
    }
    .wizardProgress .wizardStatus li:nth-child(2) span {
        left: 0;
    }

    .wizardProgress .wizardStatus li:nth-child(3) span {
        text-align: right;
        left: 0;
    }
}
@media screen and (max-width:991px){
    .table .tableClear, .table .tableHeadMobile, .table .tableRow, .table .tableColumn {
        display: block !important;
        width: 100% !important;
    }
    .table .tableColumn, .table .tableHeadMobile {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
    }
    .table .tableItemMobile {
        display: block;
    }
    .table .tableColumn.item a {
        display: block;
        text-align: left;
        padding: 0;
    }
    .table .tableHead.item, .table .tableColumn.item, .table .tableHeadMobile.item {
        display: none !important;
    }
    .table .tableColumn.remove .btnRemove {
        margin: 0;
    }
    .table .tableColumn {
        border-bottom: 0;
    }
    .table .tableRow {
        border-bottom: 1px solid #dedede;
    }

    .orderHolder .card-header .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        float: none  !important;
    }

    .orderHolder .card-header .nav.btn-nav {
        margin-top: 10px;
    }

    .orderListHolder .tableResult .t-row, .orderListHolder .tableResult .t-cell {
        display: block;
        width: 100%;
        text-align: left !important;
    }
    .orderListHolder .tableResult .t-cell {
        padding: 10px;
    }
}
@media screen and (max-width:950px){
    .treeList li > a{
        padding: 0 10px;
        display: block;

    }
    .treeList li > .actions{
        position: relative;
        text-align: right;
        display:block;
        line-height: 30px;
    }
    .treeList > ul > li {
        position: relative;
        z-index: 1;
    }

    .treeList li.open::after{
        top:112px;
    }
    .treeList  ul  li.open:before{
        top: 90px;
    }
    .user-img figure, .user-img{
        width: 80px;
    }
    .user-img img{
        width:80px;
        height:80px;
    }
    /*.treeList li > .actions .status,.treeList li > .actions a{
        display: block !important;
        width:50px;
        height: 30px;
        border-bottom:1px solid #e7e7e7;
    }
    .treeList li > .actions a:last-child{
        border: 0;
    }*/
}
@media screen and (max-width:767px){
    .mandatoryCheck{
        padding-top: 20px;

    }
    /*.px-0.mandatoryCheck{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }*/
}