.newheadstyle{
	background-color: #3c8dbc !important;
	color: #fff !important;
}
.newheadstyleno{
	background-color: #ECF0F5 !important;
	color: #000 !important;
}

.box-info{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
	border-top: 3px solid #3C8DBC !important;
}
.custombtn{
	padding: 2px 12px !important;background-color: #2b7faf !important;border-color: #2b7faf !important;
}
.custombtn:hover {
    background-color: #2b7faf !important;
    border-color: #2b7faf !important;
    color: #fff;
}
.ctmdiv{
	float: left;
	padding: 0px 16px !important;
}
.extraspan{
	margin:8px;
}
.mealhead{
	font-weight: bold;
    padding-right: 130px;
    padding-top: 7.5px;
}
/*.newnavbar{
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: 999999;
	width: 100%;
}
.container{
	margin-top: 165px;
}*/
.newselectu {
    display: inline-block;
    float: right;
    text-align: right;
    width: 450px;
}
.newlabellr{
	margin-left: 12px;
	margin-right: 12px;
}
.newdroptext {
    margin-right: 10px;
}
.newheadbtwn{
	background-color: #d9edf7 !important;
	color: #3c8dbc !important;
	border-top-right-radius:0px !important;
	border-top-left-radius:0px !important;
	border-bottom:none !important;
	margin-bottom: 50px;
	margin-top: 50px;
}
.user-label{
    float:left;
    clear: left;
    width: 155px;
   }
   .acost1 {
    width: 65px;
}
.acost {
    width: 160px;
}

  .user-value{
    float:left;
    margin-left: 5px;
  }

  #accepted-renewals,#sent-pi{
  	padding: 18px;
  }
  #renewbottom{
  	margin-bottom: 50px;
  }
.m-r-sm1{background-color: #9DC183 !important; border: none !important;}
.m-r-sm2{background-color: #98FB98 !important; border: none !important;}
.m-r-sm3{background-color: #0B6623 !important; border: none !important;}
.cutable > tbody > tr > td {border-top: none !important;}
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 1;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.utopdiv{
  margin-top: 50px;
}