@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Poppins';
    color: #161824;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    background: #f0f3f6;
}

a,
a:link,
a:visited {
    outline: none;
    text-decoration: none;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: none;
    margin: 0px;
    max-width: 100%;
}

h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

form,
input,
select,
textarea,
p {
    margin: 0px;
    padding: 0;
    font-size: 14px;
    color: #5b5b5b;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
    display: block;
    margin: 0px;
    padding: 0;
}


/*IE below 9*/

#ieWrapper {
    background: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
    position: relative;
    width: 555px;
    padding: 20px;
    margin: 200px auto 0 auto;
    background: #FFF;
    border: 7px solid #2b2927;
}

.btnIeUpdate {
    background: url(../images/btnIeUpdate.jpg) 0 0 no-repeat;
    width: 144px;
    height: 37px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.ieLogo {
    float: left;
    width: 134px;
    height: 139px;
    background: url(../images/ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
    float: right;
    margin: 0;
    padding: 0;
    width: 350px;
    color: #666;
    font-size: 15px;
    line-height: 18px;
}

.ieContent strong {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #cccccc;
    display: block;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}


/*End IE below 9*/

.login {
    height: 100vh;
    background-image: url(../images/login-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    background-color: #f0f3f6;
    align-items: center;
    justify-content: center;
}

.login-center {
    background-color: #fff;
    border-radius: 21px;
}

.content {
    padding: 60px 70px;
}

.form-title {
    padding: 40px 0 20px 0;
    color: #252525;
}

.login-form .form-control {
    height: 48px;
    border-radius: 50px;
    background-color: #f2f3f6;
    border-color: #f2f3f6;
    background-repeat: no-repeat;
    background-position: 5% center;
    padding-left: 50px;
    color: #252525;
    font-size: 14.16px;
    margin-bottom: 12px;
}

.login-form ::placeholder {
    color: #252525;
    opacity: 1;
}

.login-form :-ms-input-placeholder {
    color: #252525;
}

.login-form ::-ms-input-placeholder {
    color: #252525;
}

.envelope {
    background-image: url(../images/envelope.png);
}

.password {
    background-image: url(../images/pasword.png);
}

.login-form .btn {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15.34px;
    height: 48px;
    margin: 10px 0 25px 0;
    background-color: #004225;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
}

.login-form .form-actions.d-flex {
    justify-content: space-between;
    font-family: 'robotomedium';
}

.login-form .form-actions.d-flex a:nth-of-type(1) {
    font-size: 15px;
    color: #23293b;
}

.login-form .form-actions.d-flex a:nth-of-type(2) {
    font-size: 18px;
    color: #004225;
}

.sidebar {
    /* width: 23rem!important; */
}

.wrapper>.navbar {
    height: auto;
    padding: 0 !important;
    padding-left: 15px;
    position: relative;
    background-color: #821938 !important;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    width: 23rem !important;
    margin-bottom: 0 !important;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px !important;
}

.sidebar {
    padding-left: 22px;
    position: relative;
    /* background-color: #821938; */
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}

.sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.topbar .dropdown-list {
    width: 20rem!important;
}

.topbar .dropdown-list .dropdown-item:active {
    background-color: #eaecf4;
    color: #3a3b45;
}

.topbar .dropdown-list .dropdown-item {
    padding-top: .5rem;
    line-height: 1.3rem;
}

.top-title {
    color: #272727;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 300;
}

.top-title span {
    color: #272727;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
}

li.nav-item.active>a,
.sidebar-dark .nav-item>a:hover {
    background-color: #fff;
    border-radius: 50px 0 0 50px;
    background-position: 0% center;
    color: #821938;
}

.create-event {
    background-image: url(../images/create_event.png);
}

.edit-event {
    background-image: url(../images/edit_event.png);
}

.user-event {
    background-image: url(../images/user.png);
}

.add-event {
    background-image: url(../images/add-event.png);
}

.print-tag {
    background-image: url(../images/tag.png);
}

.sidebar-dark .nav-item a {
    background-repeat: no-repeat;
    background-position: 10% center;
    padding: .75rem 1rem .75rem 4rem;
}

.sidebar li:hover>ul {
    list-style: none;
}

.menudropdown {
    display: none;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.section-select .time-picker .form-control {
    background-image: url(../images/date-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.picker-arrow img {
    visibility: hidden;
}

.picker-arrow {
    background-image: url(../images/date-bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    height: 36px;
    padding: .375rem .75rem;
}

.sidebar ul li {
    list-style: none;
    border-radius: 50px 0 0 50px;
    color: #fff;
}

.sidebar ul li a {
    color: #fff !important;
}

.sidebar ul li.active a {
    color: #c02b58 !important;
}

.sidebar li:hover>a {
    color: #c02b58 !important;
    background-color: #fff;
    background-position: 0% center;
    border-radius: 50px 0 0 50px;
}

.sidebar li>ul li a:hover {
    color: #fff !important;
    background-color: #c02b58;
}

.sidebar ul li:hover ul li a {
    color: #fff !important;
    background-color: #9a2d4d;
}

.sidebar li:hover ul li:hover a {
    color: #fff !important;
    background-color: #9a2d4d;
}

.sidebar .dropdown-menu {
    background-color: transparent;
    border: none;
}

.sidebar .navbar {
    background-color: transparent !important;
    border: none;
}

.wrapper {
    display: flex;
    background-color: #f0f3f6;
    padding-left: 21px;
    padding-right: 0;
    margin: 21px 0;
}

.wrapper #content-wrapper {
    background-color: #fff;
    width: 100%;
    font-family: 'Poppins';
    padding: 0 60px 30px 60px;
    border-radius: 21px;
    position: relative;
    left: -25px;
}

.btn-default {
    background-color: #ccc;
    color: #000;
}

.city-search .input-group {
    padding-left: 15px;
    width: 35% !important;
}

.city-search {
    justify-content: flex-end;
}

.wrapper #content-wrapper #content {
    flex: 1 0 auto;
}

.alerts-dropdown {
    background-image: url(../images/notification.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.alerts-dropdown .badge-warning {
    width: 7px;
    height: 7px;
    display: block;
    top: 13px;
    position: relative;
    left: 8px;
    padding: 0;
}

.alerts-dropdown::after {
    border-color: transparent;
}

a.nav-link.dropdown-toggle.alerts-dropdown {
    position: relative;
    top: 10px;
}

.dropdown-profile .dropdown-item {
    background-repeat: no-repeat;
    background-position: 5% center;
}

.edit-events em {
    margin: 0 8px;
    font-style: normal;
}

.label-time {
    padding-right: 15px;
}

.select-event .form-check label.custom-checkbox {
    margin-left: 26px;
    margin-bottom: 0rem;
}

.select-event .form-control {
    margin-bottom: 0 !important;
}

.col-sm-12.d-flex.select-event,
.select-event .col-sm-11.d-flex.align-items-center {
    padding-left: 0;
}

.select-event .form-check.col-sm-2.d-flex {
    justify-content: flex-end;
    padding: 0;
}

.select-event .form-group {
    padding-left: 0;
    margin-bottom: 0;
}

.pencil {
    background-image: url(../images/pencil.png);
}

.logout {
    background-image: url(../images/sign-out.png);
}

.arabic-label {
    text-align: right;
    padding: 0;
}

.full-w-label {
    width: 111px;
}

#userDropdown::after {
    border-top: .5em solid #cccccc;
    border-right: .5em solid transparent;
    border-bottom: 0;
    border-left: .6em solid transparent;
    top: 4px;
    position: relative;
}

.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in {
    color: #010101;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: normal;
    padding: 13px 20px;
    text-align: center;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    border: none;
}

a#userDropdown {
    color: #4b4b4b;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 500;
}

a#userDropdown span.mr-1.d-lg-inline {
    color: #898989;
}

#content-wrapper .navbar {
    margin-bottom: 1.5rem !important;
    background-color: #fff !important;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: solid 1px #ccc !important;
    box-shadow: none !important;
}

.dashboard-title {
    color: #434343;
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 600;
}

.sidebar-dark .nav-item .nav-link {
    color: #fff;
}

.sidebar-dark .nav-item>.nav-link {
    z-index: 9999;
}

.sidebar-dark .nav-item.active .nav-link,
.sidebar-dark .nav-item:hover .nav-link {
    color: #821938;
}

a.sidebar-brand.d-flex.align-items-center.justify-content-center {
    padding-top: 55px;
    padding-bottom: 45px;
    left: -15px;
    position: relative;
}

.sidebar .nav-item .nav-link {
    color: #f6f6f6;
    display: block;
    width: 100%;
    text-align: left;
    padding: .75rem 1rem .75rem 4rem;
    text-align: left;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 300;
    cursor: pointer;
}

.sidebar hr.sidebar-divider {
    margin: 1rem 1rem;
    border-style: dashed;
}

.navbar .container-fluid {
    padding: 0;
}

.sidebar-dark .sidebar-heading {
    color: #fff;
    text-align: left;
    padding: 20px 1rem 25px 2.2rem;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    left: -15px;
    position: relative;
}

.top-events .col-xl-3 {
    padding-left: 0;
}

.img-fill {
    background-color: #fff;
    border-radius: 14px;
    padding: 10px;
}

.top-events .col-xl-3 .card {
    background-color: #d4d4d4;
    border-color: transparent;
    border-radius: 14px;
}

.add-minus-btns {
    justify-content: flex-end;
}

.add-minus-btns .btn {
    margin-left: 5px;
}

.top-events .card-body .col.mr-2.d-flex .h5.mb-0 {
    padding-top: 20px;
    color: #000;
    font-size: 18px;
}

.top-events .text-xs.mb-1 {
    font-size: 43px;
    padding-left: 15px;
    font-weight: 600;
    line-height: 0;
}

.pull-right {
    float: right;
}

.top-events .card-body {
    padding: 20px 10px;
}

.text-purple {
    color: #821938!important;
}

td,
th {
    vertical-align: middle;
}

.form-control:focus {
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, .0005);
}

.navbar-search .btn-primary {
    color: #fff;
    background-color: #821938;
    border-color: #821938;
}

.navbar-search input {
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 4% center;
    padding-left: 35px;
    border: solid 1px #ccc !important;
}

.table-registerd-users .action-buttons .btn {
    background-repeat: no-repeat;
    padding: 3px 0;
    line-height: 0;
    background-color: transparent;
}

.table-registerd-users td .btn {}

.table-registerd-users td,
.table-registerd-users th {
    padding: 17px .75rem;
}

.table-registerd-users thead th {
    border-bottom: transparent;
}

.table-registerd-users td .btn img {
    visibility: hidden;
}

.edit {
    background-image: url(../images/edit.png);
}

.preview {
    background-image: url(../images/preview.png);
}

.trash {
    background-image: url(../images/trash.png);
}

.venue-text .input-group-addon {
    padding: 9px 12px;
    background-color: #f6f6f6;
    border: 1px solid #ced4da;
    height: 36px;
    border-left: transparent;
}

.form-add-file {}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
    color: #fff;
    background-color: #821938;
    border-color: #821938;
    border-radius: 50%;
}

.pagination .page-item .page-link {
    border: none;
    line-height: 14px;
    color: #6e6e6e;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 29px;
    height: 29px;
    margin-right: 18px;
}

.table-register .row {
    justify-content: flex-end;
}

.table-register {
    border: solid 1px #dee2e6;
    border-top: transparent;
}

.date-picker {
    background-color: #fff;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    border: 1px solid #ced4da;
}

.date-picker>span:hover {
    cursor: pointer;
}

.form-datetimepicker {
    padding: 0;
}

.form-add-file {
    padding-left: 15px;
    padding-right: 0;
}

.date-picker .input-group-addon {
    padding: 10px 10px;
    background-color: #f6f6f6;
}

.edit-events .form-control {
    height: 36px;
    border-radius: 0;
    font-size: 13px;
}

.edit-events textarea#description {
    height: 103px;
}

.edit-events .form-control:focus {
    border-color: #ced4da;
}

.date-picker .input-group-addon {
    padding: 7px 13px;
    background-color: #f6f6f6;
    border: 1px solid #ced4da;
    height: 36px;
    border-left: transparent;
}

.day,
.today,
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover {
    background-color: #f5f5f5;
    background-image: none;
}

.today,
.datepicker table tr td.today {
    color: #53adff;
    font-weight: 600;
}

table td:nth-of-type(1) {
    text-align: center;
}

table th:nth-of-type(1) {
    text-align: center;
}

.edit-events label.control-label.col-sm-3 {
    color: #575757;
    padding-right: 0;
}


/* .edit-events .col-sm-9 {
    padding: 0;
} */

.edit-events .col-sm-9 em {
    margin: 0 8px;
    font-style: normal;
}

.old.day,
.new.day {
    background-color: #fff;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}

.time-picker .input-group-addon {
    padding: 7px 13px;
    background-color: #f6f6f6;
    border: 1px solid #ced4da;
    height: 36px;
    border-left: transparent;
}

.btn-purple {
    color: #fff;
    background-color: #821938 !important;
    border-color: #821938 !important;
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: normal;
}

.container-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
    height: 136px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
}

.file-upload-titles {
    font-size: 13px;
    font-weight: normal;
}

.file-upload-titles span {
    color: #3b3b3b;
    padding-bottom: 10px;
}

.file-upload-titles p {
    color: #b4b4b4;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.file-upload-titles .btn-delete {
    color: #821938;
    font-size: 13px;
    padding: 0;
}

.edit-event-wrapper {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    border-radius: 21px;
    padding: 35px;
}

.table-register-edit tr:nth-of-type(1) {
    border-top: transparent;
}

.table-register-edit td.d-flex.justify-content-between {
    border: transparent;
}

.table-register-edit td {
    border-top: transparent;
}

.table-register-edit tr {
    border-bottom: 1px solid #dee2e6;
}

.user1 {
    background-image: url(../images/user1.png);
}

.mail {
    background-image: url(../images/mail.png);
}

.gender {
    background-image: url(../images/gender.png);
}

.phone {
    background-image: url(../images/phone.png);
}

.company {
    background-image: url(../images/company.png);
}

.table-edit-titles h1 {
    font-size: 21px;
}

.table-edit-titles h5 {
    font-size: 21px;
}

.table-edit-titles p {
    font-size: 14px;
    color: #646464;
    padding-top: 5px;
}

.btn-purple-line {
    color: #821938;
    border: solid 1px #821938;
    background-color: transparent;
    font-family: 'Poppins';
    background-image: url(../images/pencil.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    font-weight: normal;
    height: 30px;
    font-size: 13px;
    padding-left: 25px;
    border-radius: 50px;
}

.table-top-wrapper hr {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 0;
}

.table-register-edit td:nth-last-of-type(1) {
    color: #821938;
}

.btn-purple-line:not(:disabled):not(.disabled):active {
    background-image: url(../images/pencil.png);
}

label.custom-radio-button input[type="radio"] {
    opacity: 0;
}

label.custom-radio-button input[type="radio"]~.helping-el {
    background-color: #FFFFFF;
    border: 2px solid #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
    padding: 6px;
    position: relative;
    top: 3px;
}

label.custom-radio-button input[type="radio"]:checked~.helping-el {
    border: 2px solid #821938;
}

label.custom-radio-button input[type="radio"]:checked~.helping-el:after {
    background-color: #821938;
    border-radius: 50%;
    content: " ";
    font-size: 16px;
    height: 6px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 6px;
}

label.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
}

label.custom-checkbox input[type="checkbox"]~.helping-el {
    background-color: #FFFFFF;
    border: 2px solid #e0e0e0;
    border-radius: 2px;
    display: inline-block;
    padding: 6px;
    position: relative;
    top: 2px;
}

label.custom-checkbox input[type="checkbox"]:checked~.helping-el {
    border: 2px solid #821938;
    background-color: #FFFFFF;
}

label.custom-checkbox input[type="checkbox"]:checked~.helping-el:after {
    color: #821938;
    content: "\2714";
    font-size: 9px;
    font-weight: bold;
    left: 2px;
    position: absolute;
    top: 0px;
    transform: rotate(10deg);
}

.table-registerd-users td:nth-last-of-type(1) {
    padding-right: 30px;
}

.table-registerd-users th:nth-of-type(1) {
    padding-left: 30px;
}

.create-list {
    text-align: center;
}

.create-list th:nth-last-of-type(1) {
    padding-left: 30px;
}

.create-list th:nth-of-type(1) {
    padding-left: 0px;
}

.add-select {
    width: 250px;
}

.create-list td .dropdown-toggle {
    background-repeat: no-repeat;
    padding: inherit;
    line-height: inherit;
    background-color: #821938;
}

.create-list .form-group,
.create-list .form-control {
    margin-bottom: 0;
}

.table-navbar {
    position: relative;
    padding-inline-start: 0px;
    margin-bottom: 0;
}

.table-navbar>li>a {
    position: relative;
}

.table-navbar>li>a:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #61696d;
    position: absolute;
    top: 12px;
    margin-left: 9px;
}

.table-navbar>li {
    position: relative;
}

.table-navbar li {
    display: block;
    position: relative;
}

.table-navbar li ul {
    display: none;
    border: 1px solid #ced4da;
    z-index: 9999;
    border-radius: 8px;
    position: relative;
}

.table-navbar li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: #fff;
    white-space: nowrap;
    font-size: 15px;
}

.table-navbar li a:hover {
    background: #c02b58;
}

.table-navbar li:hover ul {
    display: block;
    position: absolute;
    width: 100%;
    padding-inline-start: 0px;
}

.table-navbar li:hover li {
    float: none;
    font-size: 11px;
}

.table-navbar li:hover a {
    background-color: #fff;
}

.table-navbar li:hover li a:hover {
    background: #ccc;
}

.create-list-modal .modal-header {
    border: 0;
}

@media only screen and (max-width:1440px) {
    .edit-event-wrapper {
        padding: 15px;
    }
    .edit-events label.control-label.col-sm-3 {
        font-size: 14px;
    }
    .table-register-edit td {
        font-size: 14px;
    }
    .table-registerd-users td,
    .table-registerd-users th {
        padding: 15px 0.25rem;
    }
}

.add-search a.btn.btn-primary.btn-purple {
    width: fit-content;
}

.add-search a.btn.btn-primary.btn-purple:hover {
    background-color: #821938;
}

.add-search {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.action-buttons a {
    margin-right: 10px;
}

.action-buttons {
    display: flex;
}

.action-buttons form {
    margin-bottom: 0px;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #821938;
    border-color: #821938;
}

.btn-primary:hover {
    color: #fff;
    background-color: #821938;
    border-color: #821938;
}

.id-card-img .container-image {
    width: 100%;
    height: 200px;
}

.table-registerd-users td .btn {
    background-repeat: no-repeat;
    background-color: transparent;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-primary {
    background-color: #337ab7;
}

dl.dl-horizontal.d-flex dd {
    margin-left: 10px;
}

.event-sections .card-header {
    padding: 0rem;
    border-bottom: 1px solid #fff;
}

.event-sections .btn-link {
    color: #000;
    text-decoration: none;
    text-align: left;
    width: 100%;
    padding: 15px;
}